* {
    margin: 0;
    padding: 0;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 12px 16px;
  gap: 10px;
  font-weight: 600px;
  background-color: #30B868;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.white-btn {
  padding: 12px 16px;
  gap: 10px;
  font-weight: 600px;
  color: #30B868;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}
.logo img {
  width: 139px;
}

nav {
  width: 85%;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: burlywood; */
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.menu li {
  list-style: none;
  align-items: center;
  line-height: 34px;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  opacity: 90%;
  font-weight: 500;
  line-height: 152%;
  text-align: left;
}

.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-content {
  align-items: center;
  margin: 70px 120px 134px;
}
.banner-content .top-badge {
  background-color: white;
  color: #30B868; 
  border-radius: 1000px;
  padding: 8px 12px;
}
.banner-content h1 {
  width: auto;
  font-size: 72px;
  font-weight: bold;
}

.banner-content .color-green {
  color: #30B868;
}
.banner-content p {
  color: white;
}